# {SLUG} — {HOSTNAME}

<!-- #ZEROPS_EXTRACT_START:intro# -->
<!-- #ZEROPS_EXTRACT_END:intro# -->

⬇️ **Full recipe page and deploy with one-click**

[![Deploy on Zerops](https://github.com/zeropsio/recipe-shared-assets/blob/main/deploy-button/light/deploy-button.svg)](https://app.zerops.io/recipes/{SLUG}?environment=small-production)

![{FRAMEWORK} cover](https://github.com/zeropsio/recipe-shared-assets/blob/main/covers/svg/cover-{FRAMEWORK}.svg)

## Integration Guide

<!-- #ZEROPS_EXTRACT_START:integration-guide# -->
<!-- #ZEROPS_EXTRACT_END:integration-guide# -->

<!-- #ZEROPS_EXTRACT_START:knowledge-base# -->

### Gotchas

<!-- #ZEROPS_EXTRACT_END:knowledge-base# -->
