# {SLUG}

<!-- #ZEROPS_EXTRACT_START:intro# -->
<!-- #ZEROPS_EXTRACT_END:intro# -->

⬇️ **Full recipe page and deploy with one-click**

[![Deploy on Zerops](https://github.com/zeropsio/recipe-shared-assets/blob/main/deploy-button/light/deploy-button.svg)](https://app.zerops.io/recipes/{SLUG}?environment=small-production)

![{FRAMEWORK} cover](https://github.com/zeropsio/recipe-shared-assets/blob/main/covers/svg/cover-{FRAMEWORK}.svg)

{TIER_LIST}

---

For more advanced examples see all [{FRAMEWORK} recipes](https://app.zerops.io/recipes?lf={FRAMEWORK}) on Zerops.

Need help setting your project up? Join [Zerops Discord community](https://discord.gg/zeropsio).
